---

---

<div class="contact show">
    <ul>
        <li>casperbisgaard10@gmail.com</li>
        <li>27 92 26 85</li>
    </ul>
</div>
<button class="contactButton">
    Kontakt mig
</button>



<script>
    const contactButton = document.querySelector(".contactButton");
    const contact = document.querySelector(".contact");

    contactButton.addEventListener("click",()=>{
        contact.classList.toggle("show");
    })

</script>
<style>
	button{
	position: fixed;
	right: 40px;
	bottom: 40px;
	}
	.contact{
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 80%;
		max-width: 500px;
		height: 300px;
		z-index: 999999;
        display: none;
	}

    .contact.show{
        display: block;
    }




	div{
		background-color: white;
	}
	img{
		width: 600px;
	}

   
</style>