---

---


<div class="iconContainer">
    <a href="https://github.com/webLoopCasper"><img src="img/github.svg" alt=""></a>
    
    <a href="https://www.linkedin.com/in/casper-bisgaard-90411127a/"><img src="img/linkedIn.svg" alt=""></a>
</div>


<style>
    .iconContainer{
        display: flex;
        align-items: center;
    }
    .iconContainer img{
        width: 35px;
        
         /* display: block; */
    }
    .iconContainer a:nth-child(1){
        margin-right: 20px;
    }

</style>